table, td {
    border: 8px solid black;
}
table {
    margin: 10px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px solid black;
    background-color: black;
}

.tableHead {
    padding:10px;
    color:white;
}

.florestaAmazonica {
    padding:10px;
    margin: 10px;
    width:150px;
    border: 10px;
    border-radius: 10px;
    color: gray;
    background-color:RGB(3,102,79);
}

.verdeTrevo {
    padding:10px;
    margin: 10px;
    width:150px;
    border-radius: 10px;
    color: gray;
    background-color:#19563e;
}

.esmeraldaIntensa {
    padding:10px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    color: gray;
    background-color:RGB(31,86,76);
}